// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$strikethrough: #808080;
$clear: #88B288;

$dark-gray: #333333;
$light-gray: #DDD;


.form-control {
	border-radius: 0;
}

.add-list {
	padding-top: 10px;
	color: #54B84F;
	display: block;
	height: 42px;
	width: 42px;
	padding-bottom: .5em;
	position:absolute;
	text-align:center;
	text-shadow: 1px 1px 4px $dark-gray;
}

.add-list:hover {
cursor: pointer;
font-size: 120%;
}

.btn {
	border-radius: 0;
}
#container {
	margin: 0 auto;
	width: auto;
	max-width: 600px;
	
}

.table-header {
	font-size: 1.5em;
	text-align: center;
}
.checkbox-box {
	width: 80px;
}

.delete {
	text-align: right;
	padding-right: 2em;
}
body {
	margin-top: 5em;
	text-align:center;
	background:transparent;
	height: 100%;
	background-color: #1E2128	;
	
}

@media screen and (max-width: 370px) {
	.task-input {
		float: none;	
		width:100%;
		padding-bottom: 1em;
		margin-left: 2em;
	}

	.task-button {
		float:none;
		width: 100%;
		padding-bottom: 1em;
	}

}
.task-input {
	float:left;
	width:100%;
}


.task-button {
		float:right;
	
}
.new-item {

	padding-bottom: 2em;
}

.completed  {
	label {
		text-decoration: line-through;
		color: $clear;
	}
	
}

table {
	margin: 0 auto;
	width: 80%;
	
	tr {
		line-height: 2em;
	}
}

label {
	font-weight: 500;
}
.task {
	text-align: left;
}

.delete {
	a {
		display:none;
	}
}
tr:hover {
	.delete {
		a {
			display: inline ;
		}
	}
}

.remove {
	color: #A0A0A0;
}

.remove:hover {
	color: #9C1B14;
	font-size: 120%;
}
.editable {
	outline: 0;
	padding:0;
	margin-top: -1px;
	border: none;
	margin-bottom: 1px;
	width: 100%;

}


#footer {
	margin: 0 auto;
	color: $strikethrough;
}

a:hover{
	text-decoration: none;
	}

.edit {
	background-color: #FDF6D3;
}

input {
	background: transparent;
}

.errors {
	color: red;
	font-weight: 700;
}

.list-header input.editable {
	background-color: #FDF6D3;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.list-header {
	margin: 0 auto;
	text-align: center;
	
	font-size: 3em;	
}

.list-controls {
	position:absolute;
	right: 0;
	font-size: 110%;
	padding: .5em;
	color: #808080;
	bottom: 0;
}
.list-controls span {
padding-top: 10px;
	width: 35px;
	height: 40px;
	text-align:center;
	display: inline-block;
}

.list-controls span:hover {
	cursor:pointer;
	font-size: 130%;
}
.list-container {
	background-color:white;
	min-height: 500px;
	box-shadow: -2px 2px 1px $dark-gray;
	border:  1px solid $light-gray;
	text-shadow: 1px 2px 5px $light-gray;
	padding:1em;
	position: relative;
}

.tabs ul li.active a{
	background-color: white;
}

.tabs ul li a {
	background-color: #DDD;
}
.tabs ul li a:hover {
	cursor: pointer;
}

.colors {
	width:25px;
	height: 25px;
	float:left;
	margin: 2px;
}
.color-picker {
	width: 40px;
};