// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$strikethrough: #808080;

$dark-gray: #333333;
$light-gray: #DDD;

#container {
	padding:1em;
	margin: 0 auto;
	width: auto;
	max-width: 600px;
	background-color:white;
	min-height: 500px;
	box-shadow: -2px 2px 1px $dark-gray;
	border:  1px solid $light-gray;
	text-shadow: 1px 2px 5px $light-gray;
}

.table-header {
	font-size: 1.5em;
	text-align: center;
}
.checkbox-box {
	width: 80px;
}

.delete {
	text-align: right;
	padding-right: 2em;
}
body {
	margin-top: 5em;
	text-align:center;
	background:transparent;
	height: 100%;
	background-color: #394B73	;
	
}

@media screen and (max-width: 370px) {
	.task-input {
		float: none;	
		width:100%;
		padding-bottom: 1em;
		margin-left: 2em;
	}

	.task-button {
		float:none;
		width: 100%;
		padding-bottom: 1em;
	}

}
.task-input {
	float:left;
	width:100%;
}

.task-button {
		float:right;
	
}
.new-item {

	padding-bottom: 2em;
}

.completed  {
	label {
		text-decoration: line-through;
		color: $strikethrough;
	}
	
}

table {
	margin: 0 auto;
	width: 80%;
	
	tr {
		line-height: 2em;
	}
}

label {
	font-weight: 500;
}
.task {
	text-align: left;
}

.delete {
	a {
		display:none;
	}
}
tr:hover {
	.delete {
		a {
			display: inline ;
		}
	}
}

.remove {
	color: #A0A0A0;
}

.remove:hover {
	color: #9C1B14;
	font-size: 120%;
}
.editable {
	outline: 0;
	padding:0;
	margin-top: -1px;
	border: none;
	margin-bottom: 1px;
	width: 100%;

}

#footer {
	margin: 0 auto;
	color: $strikethrough;
	text-shadow: 1px 1px black;
}

a:hover{
	text-decoration: none;
	}

.edit {
	background-color: #FDF6D3;
}

input {
	background: transparent;
}