<h1>Todo List</h1>
<div ng-controller="TasksCtrl">
	<form ng-submit="createTask()">
		<input type="text" ng-model='newTask.title' placeholder="Enter text">
		<input type="submit" value="Add">
	</form>
	{{newTask.title}}
	<div ng-show="error">Error accessing tasks</div>
	<ul>
		<li ng-repeat="task in tasks">
			<input type='checkbox' data-ng-model='task.completed' data-ng-click='completeTask(task)'>
			<form ng-submit="editTask(task)">
			<input type="text" placeholder = "{{task.title}}" data-ng-model='task.title'>
			 - Completed: {{task.completed}}
			</form>
			<a href='' data-ng-model='task.destroy' data-ng-click='deleteTask(task)'>delete</a>
		</li>
	</ul>
</div>