<div ng-controller="TasksCtrl">
<h1>Todo List</h1>
	<form class="form" role="form" ng-submit="createTask()">
		<div class="form-group new-item">
			<div style="width:80%">
				<div class="task-input">
					<input type="text" class="form-control" ng-model='newTask.title' placeholder="Enter a task" autofocus></input>
				</div>
			</div>
			<div class="task-button">
				<button class="btn btn-primary">Add</button>
			</div>
		</div>
	</form>
	<div ng-show="error">Error accessing tasks</div>

	<table class="table">
	
		<tbody>
			<tr>
				<th class="table-header" colspan="3">Listing Tasks</th>
			</tr>
			<tr ng-repeat="task in tasks">
				<td class="checkbox-box">
					<input type='checkbox' 
						ng-model='task.completed' 
						ng-change='toggleTask(task)'>
				</td>
				<td class="task" ng-class="{completed: task.completed}">
					<label ng-dblclick="editTask(task)" 
						class="editable" 
						ng-hide="task.editing">{{task.title}}
					</label>
					<form class="add-item" ng-submit="doneEditing(task)" ng-show="task.editing">
						<input class="editable form-control" ng-model="task.title" ng-blur"doneEditing(task">
					</form>
				</td>
				<td class="delete">
					<a href='' ng-model='task.destroy' ng-click='deleteTask(task)'>
						<span class=" remove glyphicon glyphicon-trash"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>