<h5>Double click to edit a task.</h5>
<ul class="list-inline" style="padding-top: 2em;">
	<li>
		2014 John Calvin
	</li>
	<li><%= mail_to 'calvjd@gmail.com', 'Email' %></li>
	<li><%= link_to 'Source', 'https://github.com/jdcalvin/todo-angular-rails' %></li>
</ul>